<div class="container">
    <div class="row mx-auto">
        <div class="col">
            <p>Filtrar por nombre:</p>
            <input type="text" class="form-control" #inputNombre placeholder="Introduce nombre">
        </div>
        <div class="col">
            <p>Filtrar por ciclo:</p>
            <input type="text" class="form-control" #inputCiclo placeholder="Introduce Ciclo">
        </div>
        <div class="col">
            <p>Filtrar por Conocimiento:</p>
            <input type="text" class="form-control" #inputConocimiento placeholder="Introduce conocimiento">
        </div>
        <br><br><button type="button" class="btn btn-primary" #botonFiltrar (click)="filtrar(inputNombre.value,inputCiclo.value,inputConocimiento.value)">Filtrar</button><br>
    </div><br><br>
    <div class="row">
        <h1>Los resultados de la busqueda son:</h1>
        <div class="alert alert-primary" role="alert">
            El numero de asignaturas que cumplen el filtro es de: {{contador}}
        </div>
        <div class="col-3" *ngFor="let item of listaFiltrada">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{item.nombre}}</h5>
                    <p class="card-text">Profesor:{{item.profesor}}<br>
                                        Ciclo:{{item.ciclo}}<br>
                                        Curso:{{item.curso}}</p>
                    <div class="row m-2">
                        <img [src]="foto.imagen" class="col-3 img-thumbnail" style="width: 60px;" alt="..." *ngFor="let foto of item.conocimientos">
                    </div>
                </div>

            </div>
        </div>
    
    </div>
</div>

