<div class="container">
    <div class="row">
        <div class="col-3">
            <img src="{{imagenGrado|images}}">
            <h1>{{nombreCiclo}}{{numero}}</h1>  
            <ul class="list-group" >
                <ng-container *ngFor="let item of conocimientos">
                    <li class="circle">{{item.nombre}}</li>
                </ng-container> 
            </ul>
                    
        </div>
    
        <div class="col-9">
            <p>Las asignaturas del ciclo son:</p>
            <div class="row">
                <div class="col-4" *ngFor="let item of asignaturas">
                    <div class="card m-1" style="width: 16rem;height:auto">
                        <div class="card-body">
                            <h5 class="card-title">{{item.nombre}}</h5>
                            <p class="card-text">Profesor:{{item.profesor}}<br>
                                                Ciclo: {{item.ciclo}}<br>
                                                Curso: {{item.curso}}</p>
                            <div class="row m-2">
                                <img [src]="foto.imagen" class="col-3 img-thumbnail" style="width: 60px;" alt="..." *ngFor="let foto of item.conocimientos">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</div>